<!--  voter_analytics/templates/voter_analytics/base.html   -->
{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'styles-voter_analytics.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'voters' %}">Voter List</a>
            <a href="{% url 'graphs' %}">Graphs</a>
        </div>
        <header>
            <h1> Voter Analytics </h1>
        </header>
        <div>
            {% block content %}
            {% endblock %}   
        </div>
    </body>
    <footer>
        <h4>Data from registered voters in the town of Newton, MA</h4>
    </footer>
</html>
        