<!--django/static/styles.css-->
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    margin: 5px;
    padding: 5px;
    border: none;
    color: rgb(167, 208, 169);
}
h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Wide', Arial, sans-serif;
    font-size: 5em;
    margin: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    color: rgb(167, 208, 169);
}
h3{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 5px;
    padding: 5px;
}
body{
    color: darkolivegreen;
    background-color: rgb(167, 208, 169);
}

div{
    color: darkolivegreen;
    border: 1px solid darkolivegreen;
    margin: 20px;
    padding: 10px;
}

p{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    margin: 10px;
    padding: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 15px;
}

footer{
    text-align: right;
    padding: 10px;
    background-color: darkolivegreen;
    color: rgb(167, 208, 169);
}

.navitem{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    color: rgb(167, 208, 169);
}
a{
    text-decoration: none;
    margin: 5px;
    padding-right: 152px;
    padding-left: 152px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: darkolivegreen;

}
a:hover{
    text-decoration-line: underline;
}
