
<!-- bloomboard/templates/bloomboard/base.html -->
{% load static %}
<html>
    <head>
        <title>BloomBoard</title>
        <link rel="stylesheet" href="{% static 'styles-bloomboard.css' %}"> 
    </head>
    <body>
        <header>
            <h1>BloomBoard</h1>
        </header>
    
    {% block content %}
    {% endblock %}    

    <footer>
        {% if user.is_authenticated %}
        <h6 style="text-align: left;">Hello, {{ first_name }}  </h6>

        <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
        <h6>Thanks for visiting BloomBoard!   </h6>
    </footer>
    </body>
</html>