
<!-- bloomboard/templates/bloomboard/base.html -->
{% load static %}
<html>
    <head>
        <title>BloomBoard</title>
        <link rel="stylesheet" href="{% static 'styles-bloomboard.css' %}"> 
    </head>
    <body>
        <header>
            <h1>BloomBoard</h1>
            <nav>
                <a href="{% url 'show_profiles' %}">All Profiles</a>
                <a href="{% url 'show_all_arrangements' %}">All Arrangements</a>
                <a href="{% url 'show_all_flowers' %}">All Flowers</a>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    

    <footer>
        {% if user.is_authenticated %}
        <h6 style="text-align: left;">Hello, {{ first_name }}  </h6>

        <form method="post" action="{% url 'logoutuser' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <br><br>
        <form method="get" action="{% url 'loginuser' %}" class="login-form">
            <button type="submit">Login</button>
        </form>
        {% endif %}
        <h6>Thanks for visiting BloomBoard!   </h6>
    </footer>
    </body>
</html>