
<!-- bloomboard/templates/bloomboard/base.html -->
{% load static %}
<html>
    <head>
        <title>BloomBoard</title>
        <!-- <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}"> -->
    </head>
    <body>
        <header>
            <h1>BloomBoard</h1>
            {% if user.is_authenticated %}
                <h4>Welcome, {{ user.username }}  </h4>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </header>
    
    {% block content %}
    {% endblock %}    
    <a href="{% url 'create_profile' %}">Create a New Profile</a> 
    <footer>
        <h4>Thanks for visiting BloomBoard!   </h4>
    </footer>
    </body>
</html>