<!--  bloomboard/template/bloomboard/create_arrangement_form.html-->

{% extends "bloomboard/base.html" %}

{% block content %}
<h2>Create a New Arrangement</h2>

<form method="post" enctype="multipart/form-data" id="arrangement-form">
    {% csrf_token %}
    <div>
        <h3>Arrangement Details</h3>
        {{ arrangement_form.as_p }}
    </div>

    <div>
        <h3>Flowers Used</h3>
        {{ flower_usage_formset.management_form }}
        <table id="flower-formset">
            {% for form in flower_usage_formset %}
            <tr class="flower-form">
                <td>{{ form.flower.label }}: {{ form.flower }}</td>
                <td>{{ form.quantity.label }}: {{ form.quantity }}</td>
                <td>{% if form.DELETE %}{{ form.DELETE }} Remove{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div>
        <button type="submit">Save Arrangement</button>
    </div>
</form>



{% endblock %}

