<!-- templates/bloomboard/show_all_profiles.html -->
{% extends 'bloomboard/base.html' %}
<h1>Showing all Profiles</h1>
<!-- display all profiles -->
{% block content %}
<main class="profiles-grid-container">
    {% for p in bbprofiles %}
    <div class="bbprofile">
        <a href="{% url 'show_profile' p.id %}">
            <img src="{{ p.image_url }}" alt="{{ p.firstName }} {{ p.lastName }}">
            <div>
                <h2>{{ p.firstName }} {{ p.lastName }}</h2>
                <h3>{{ p.city }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</main>
{% endblock %}