<!-- bloomboard/templates/bloomboard/show_profile.html -->
{% extends 'bloomboard/base.html' %}

{% block content %}
<main>
    <h2>{{ bbprofile.firstName }} {{ bbprofile.lastName }}'s Profile:</h2>
    <img src="{{ bbprofile.image_url }}" alt="{{ bbprofile.firstName }}'s Profile Image" style="max-width: 300px; border-radius: 10px;">
    <table>
        <tr>
            <th>First Name:</th>
            <td>{{ bbprofile.firstName }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ bbprofile.lastName }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ bbprofile.city }}</td>
        </tr>
        <tr>
            <th>Years of Experience:</th>
            <td>{{ bbprofile.years_experience }}</td>
        </tr>
    </table> <br> <br>
<!--        TODO: ARRANGEMENTS BY THIS USER SHOULD ALSO BE DISPLAYED      -->
    <a href="{% url 'show_all_profiles' %}">Back to All Profiles</a> <br>
    <a href="{% url 'update_profile'  %}">Update Profile</a>
</main>
{% endblock %}
