<!-- bloomboard/templates/bloomboard/show_arrangement.html -->

{% extends 'bloomboard/base.html' %}

{% block content %}
<h2>Arrangement Details</h2>
<div style="display: flex; align-items: center; gap: 20px;">
    <!-- Arrangement Image on the Left -->
    <div style="flex-shrink: 0;">
        <img src="{{ arrangement.image }}" alt="Arrangement Image" style="max-width: 300px; height: auto; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    </div>

    <!-- Arrangement Details on the Right -->
    <div style="flex-grow: 1;">
        <h3>Info:</h3>
        <p><strong>Type:</strong> {{ arrangement.type }}</p>
        <p><strong>Occasion:</strong> {{ arrangement.occassion }}</p>
        <p><strong>Final Price:</strong> ${{ arrangement.calculate_price }}</p>
        <p><strong>Created by:</strong> <a href="{{ arrangement.profile.get_absolute_url }}">{{ arrangement.profile }}</a></p>

        <h3>Flower Usage Recipe:</h3>
        <ul>
            {% for flower_usage in arrangement.flower_usages.all %}
            <li>{{ flower_usage.quantity }} x {{ flower_usage.flower.name }} ({{ flower_usage.flower.use_type }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
<br><br>

{% endblock %}