<!-- bloomboard/templates/bloomboard/show_flower.html -->
{% extends 'bloomboard/base.html' %}

{% block content %}
<main>
    <h2>{{ flower.name }} </h2>
    <img src="{{ flower.image_url }}" alt="{{ flower.name }}'s Image" style="max-width: 500px; border-radius: 10px;">
    <table>
        <tr>
            <th>Typical Usage:</th>
            <td>{{ flower.use_type }}</td>
        </tr>
        <tr>
            <th>Average Price Per Stem:</th>
            <td>${{ flower.price_per_stem }}</td>
        </tr>
        
    </table>

    <h2> Arrangements Using This Flower  </h2> 
    {% if arrangements%}
        <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
            {% for arrangement in arrangements %}
            <div style="text-align: center; max-width: 200px;">
                <!-- Clickable image linking to the detail view -->
                <a href="{% url 'show_arrangement' arrangement.pk %}">
                    <img src="{{ arrangement.image }}" alt="Arrangement Image" style="width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Bloomboard arrangements use this flower yet.</p>
    {% endif %}
    <br>
    <a href="{% url 'show_all_flowers' %}">Back to All Flowers</a> 
    <br><br>

</main>
{% endblock %}
