<!-- bloomboard/templates/bloomboard/show_profile.html -->
{% extends 'bloomboard/base.html' %}

{% block content %}
<main>
    <h2>{{ bbprofile.firstName }} {{ bbprofile.lastName }}'s Profile</h2>
    <div class="profile-container">
        <!-- Profile Image -->
        <div class="profile-image">
            <img src="{{ bbprofile.image_url }}" alt="{{ bbprofile.firstName }}'s Profile Image">
        </div>
        <!-- Profile Details -->
        <div class="profile-details">
            <table>
                <tr>
                    <th>First Name:</th>
                    <td>{{ bbprofile.firstName }}</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>{{ bbprofile.lastName }}</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>{{ bbprofile.city }}</td>
                </tr>
                <tr>
                    <th>Years of Experience:</th>
                    <td>{{ bbprofile.years_experience }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br><br>
   <!-- Display a list of posts by this user in reverse chronological order -->
   <h2>Posts by {{ bbprofile.firstName }}</h2>
   {% for post in bbprofile.post_set.all %}
        <div class="post">
            <div class="post-header">
                <p class="post-author">{{ bbprofile.firstName }}:</p>
                <h3 class="post-caption">{{ post.caption }}</h3>
            </div>
        <br>
        {% if post.arrangement %}
        <a href="{% url 'show_arrangement' post.arrangement.pk %}">
            <img src="{{ post.arrangement.image }}" alt="Arrangement Image" style="max-width: 300px; border-radius: 10px;">
        </a>
        {% endif %}
       
        <p><small>Posted at: {{ post.timestamp }}</small></p>
        </div>
    {% empty %}
    <p>No posts to display.</p>
    {% endfor %}
    <br> <br>
    <a href="{% url 'show_profiles' %}">Back to All Profiles</a> <br>
    <a href="{% url 'update_profile'  %}">Update Profile</a>
</main>
{% endblock %}
